doctype html

//- This will go into the HTML file to let people know to edit this file instead:
// Please edit the index.jade or the files in comparisons/, this file is generated

<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title You Might Not Need *

  meta(name='description', content='A collection of "You might not need" resources')

  link(rel='stylesheet', href='css/index.css')

body
  .page
    header.page-header
      .inner
        h1
          | You might <span class="highlighted">no</span>t need <strong class="highlighted">*</strong>

    .explanation
      .inner
        p
          | You might not need <strong>*</strong> is a collection of "You might not need" resources.
        p
          | Please <a href="https://github.com/cedmax/youmightnotneed">contribute on github</a>

    .comparisons(style="margin-top:50px")
      .inner
        section.odd
         .inner
            center
              
              a.button(href="/lodash")
                span Lodash
                
              a.button(href="http://youmightnotneedjquery.com")(target="_blank")
                span jQuery

              a.button(href="http://youmightnotneedjs.com")(target="_blank")
                span Javascript

              a.button(href="/css")
                span Css

    footer
      script.
        (function(){
          peeps = ['cedmax']
          document.write('<p>Made by <a href="http://twitter.com/'+ peeps[0] + '">@' + peeps[0] + '</a>. <br/><small>Inspired to <a href="http://YouMightNotNeedjQuery.com">You Might Not Need jQuery</a></small></p>');
        })()


  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-240287-36', 'auto');
    ga('send', 'pageview');
