{
  "extends": ["react-tools"],
  "overrides": [
    {
      "files": ["**/**/spec.js"],
      "env": { "jest": true }
    }
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "max-len": [2, { "code": 120 }],
    "comma-dangle": [2, "always-multiline"]
  }
}
