name: Test PR

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: browniebroke/read-nvmrc-action@v1
        id: nvmrc
      - uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nvmrc.outputs.node_version }}'
          cache: 'yarn'
      - run: yarn install --prefer-offline --frozen-lockfile
      - run: yarn test
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
